* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */
body {
  height: 100vh;
  display: grid;
  grid-template:
    "header header header header" auto
    "left-menu emails right-menu shortcuts" 1fr /
    180px 1fr 180px 50px;
}
/* Header */
.header {
  background-color: white;
  grid-area: header;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 3rem;
  padding: 0.5rem 1rem;
}
.gmail-logo {
  width: 65px;
}
.header__left-menu {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
  align-items: center;
}
.profile-picture {
  width: 30px;
}
.header__search {
  display: grid;
}
.header__search__bar {
  border: none;
  background-color: rgb(237, 237, 237);
}
/* Left menu*/
.left-menu {
  background-color: plum;
  grid-area: left-menu;
}
/* Emails */
.emails {
  background-color: aquamarine;
  grid-area: emails;
}
/*Right menu */
.right-menu {
  background-color: rgb(241, 194, 132);
  grid-area: right-menu;
}
/*Shortcuts */
.shortcuts {
  background-color: rgb(201, 192, 192);
  grid-area: shortcuts;
}
