* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}

/* body */
body {
  height: 100vh;
  display: grid;
  grid-template:
    "header header header header" auto
    "left-menu emails right-menu shortcuts" 1fr /
    180px 1fr 180px 50px;
}
/* HEADER SECTIOM */
.header {
  background-color: white;
  grid-area: header;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 3rem;
  padding: 0.5rem 1rem;
}
button {
  border: none;
  background: none;
}
.header button span {
  font-size: 1.5rem;
  color: #50575e;
}
/*Header Left Menu */
.header__left-menu {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
  align-items: center;
}
.gmail-logo {
  width: 65px;
}
.profile-picture {
  width: 30px;
}
/*Header Search*/
.header__search {
  display: grid;
  grid-template-columns: auto 1fr auto;
}
.header__search__bar {
  border: none;
  background-color: #f1f3f4;
  padding: 0.2rem;
  font-size: 0.8rem;
  color: #8d9297;
}
.search-side {
  background-color: #f1f3f4;
  color: #666b70;
  display: grid;
  place-content: center;
  padding: 5px;
}

.header__search__search-icon {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.header__search__search-icon span {
  font-size: 1.2rem;
}
.header__search__expand {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.header__search__expand span {
  font-size: 1.2rem;
}
/*Header Right Menu */
.header__right-menu {
  display: grid;
  grid-auto-flow: column;
  gap: 0.3rem;
}
.header__right-menu__profile {
  border: 1px solid rgb(215, 215, 215);
  border-radius: 5px;
  padding: 2px 5px;
}

.header__right-menu__profile .container {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  gap: 0.5rem;
}

.header__right-menu__profile .name {
  font-size: 1rem;
  font-family: "Smooch", cursive;
}
.header__right-menu__profile img {
  border-radius: 50%;
}
/* LEFT MENU */
.left-menu {
  background-color: white;
  grid-area: left-menu;
  display: grid;
  border-bottom: 2px solid gray;
}
.left-menu .compose {
  padding-top: 10px;
  width: 150px;
}
.menu-item__inbox {
  display: grid;
  grid-template-columns: 35px 1fr 25px;
  padding-top: 10px;
  align-items: center;
  background-color: #fce8e6;
  color: #d94843;
  border-radius: 15px;
}
.menu-item__starred {
  display: grid;
  grid-template-columns: 35px 1fr;
  align-items: center;
  padding: 5px;
}
.menu-item__snoozed {
  display: grid;
  grid-template-columns: 35px 1fr;
  align-items: center;
  padding: 5px;
}
.menu-item__important {
  display: grid;
  grid-template-columns: 35px 1fr;
  align-items: center;
  padding: 5px;
}
.menu-item__sent {
  display: grid;
  grid-template-columns: 35px 1fr;
  align-items: center;
  padding: 5px;
}
.menu-item__team {
  display: grid;
  grid-template-columns: 35px 1fr;
  align-items: center;
  padding: 5px;
}
.menu-item__new-rfps {
  display: grid;
  grid-template-columns: 35px 1fr;
  align-items: center;
  padding: 5px;
}
.menu-item__projects {
  display: grid;
  grid-template-columns: 35px 1fr;
  align-items: center;
  padding: 5px;
}
.menu-item__personal {
  display: grid;
  grid-template-columns: 35px 1fr;
  align-items: center;
  padding: 5px;
}
.menu-item__more {
  display: grid;
  grid-template-columns: 35px 1fr;
  align-items: center;
  padding: 5px;
}

/* Emails */
.emails {
  background-color: aquamarine;
  grid-area: emails;
}
/*Right menu */
.right-menu {
  background-color: rgb(241, 194, 132);
  grid-area: right-menu;
}
/*Shortcuts */
.shortcuts {
  background-color: rgb(201, 192, 192);
  grid-area: shortcuts;
}
